<section class="b-color">
    <div class="d-flex p-2 f-color-p">
        <i class="far fa-question-circle s-image"></i>
        <u class="ml-2">¿Necesitas ayuda?</u>
    </div>
    <div class="mt-5 d-flex justify-content-center">
        <img class="pt-5" src="/assets/icon/coink.png">
    </div>
    <div class="mt-4">
        <router-outlet></router-outlet>
    </div>
    <div class="d-flex justify-content-center mt-5 f-color-p">
        <u>¿Quieres vincular tu empresa a Coink?</u>
    </div>
</section>
<footer class="h-4">
    <div class="d-flex justify-content-end text-right pt-2 h-2">
        <p>Copyright</p>
        <i class="far fa-copyright ml-1 pt-1" style="font-size: .8em;"></i>
        <p class="ml-2 mr-2">Coink S.A</p>
    </div>
</footer>