.b-color {
    background-color: var( --p-color );
    height: 96%;
}

.h-4 {
    height: 4%;
    background-color: var( --s-color );
}

.f-color-p {
    color: var( --w-color );
}

.f-color-s {
    color: var( --s-color );
}

.f-color-t {
    color: var( --p-color );
}

.example-card {
  width: 30%;
}

.example-full-width {
    width: 80%;
}

.position-btn {
    display: block;
    margin-left: 3em;
}

.w-100 {
    width: 100%;
}

.mt-7 {
    margin-top: 7em;
}